
body {
    background-color: hsla(0, 0%, 60%, 0.575); 
    margin: 60px auto; 
    max-width: 500px;
    padding: 20px;
    font-family:"Times New Roman", Times, serif; 
    color: #444;
    line-height: 1.8;
}


h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;   
    font-weight: bold; 
    font-style: 'Roboto' ,sans-serif ;
    letter-spacing: 1.5px;
}

p {
  font-family: "Arial", sans-serif; 
  font-size: 16px;                  
  font-weight: bold;                
  font-style: italic;               
  color: rgb(0, 0, 0);                      

}


a {
    display: inline-block; 
    text-decoration: none;
    color: #00110f;
    transition: transform 0.3s ease;
    font-style: italic; 
    font-weight: 200px;
}

a:hover {
    transform: translateY(-5px); /
}


img:hover {
    transform: rotate(0deg) scale(1.02);
}